{% block sw_cms_element_qonfi %}

    <div class="qonfi-block">
        <div class="qonfi-block-text">
            <h2>Not sure which product to select?</h2>
            <p>Use our product finder to find the product that matches your needs.</p>
        </div>
        <a class="qonfi-block-button">Start the product finder</a>
    </div>
{% endblock %}