{% block sw_cms_block_my_text_preview %}
    <div class="qonfi-block">
        <div class="qonfi-block-text">
            <h2>Not sure which product to select?</h2>
            <p>Use our product finder to...</p>
        </div>
        <a class="qonfi-block-button">Start...</a>
    </div>
{% endblock %}