{% block sw_cms_element_qonfi_preview %}
	<div class="qonfi-block sw-cms-slot__element-preview">
		<div class="qonfi-block-wrapper">
			<b class="qonfi-block-wrapper-title">Product finder</b>
			<div class="qonfi-block-wrapper-seperator sw-cms-el-preview-buy-box__placeholder"></div>
			<a class="qonfi-block-wrapper-button">Start...</a>
		</div>
	</div>
{% endblock %}
